.main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #fff;
  margin-top: 64px;

  .wrapper_login {
    flex-wrap: wrap;

    h2 {
      font-size: 2.4rem;
      margin: 0 0 4px;
      width: 100%;
    }

    p {
      font-size: 1.6rem;
      margin: 0 0 16px;
      width: 100%;

      a {
        color: rgba(var(--tmdbLightBlue), 1);
        background: 0 0;
        text-decoration: none;
        width: 100%;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .k-form {
      width: 100%;

      fieldset {
        margin-top: 30px;
        border: 0;

        .k-form-field {
          margin-top: 16px;
          display: block;
          font-size: 1.6rem;
          line-height: 1.5;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;

          span {
            font-size: 1.6rem;
            line-height: 1.5;
          }

          input {
            width: 100%;
            display: flex;
            padding: 6px 12px;
            border-radius: 4px;
            border-width: 1px;
            border-style: solid;
            outline: none;
            line-height: 1.5;
            flex-flow: row nowrap;
            align-items: center;
            vertical-align: middle;
            position: relative;
            -webkit-appearance: none;
            border-color: #ced4da;
            color: #495057;
            transition:
              color 0.2s ease-in-out,
              background-color 0.2s ease-in-out,
              border-color 0.2s ease-in-out,
              box-shadow 0.2s ease-in-out;
            background-color: #fff;
            box-sizing: border-box;
            box-shadow: none;
            background: 0 0;
            font-size: 1.6rem;
            font-family: source-sans-pro-regular;

            &:focus-within {
              border-color: rgba(var(--accountLightBlue), 1);
            }
          }
        }
      }

      .flex {
        margin-top: 30px;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        line-height: 1.5;

        input {
          border-color: rgba(var(--accountLightBlue), 1);
          color: #fff;
          background-color: rgba(var(--accountLightBlue), 1);
          font-family: source-sans-pro-bold;
          -webkit-appearance: button;
          cursor: pointer;
          border: 0;
          font-size: 1.6rem;
          line-height: 1.5;
          border-radius: var(--imageBorderRadius);
          padding: 6px 19.2px;
          transition:
            color 0.2s ease-in-out,
            background-color 0.2s ease-in-out,
            border-color 0.2s ease-in-out,
            box-shadow 0.2s ease-in-out;
        }

        .reset {
          margin: 0;
          margin-left: 10px;
        }
      }
    }
  }
}
