.main {
  margin-top: calc(64px + 44px);
  width: 100%;

  .inner_block {
    padding-top: 10px;

    .inner_content {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: flex-start;
      background-color: #fff;

      .content {
        width: 100%;
        padding: 0 40px;
        max-width: var(--maxPrimaryPageWidth);

        .wrapper {
          display: flex;
          align-items: flex-start;
          width: 100%;
          justify-content: center;

          .settings_panel {
            display: block;
            box-sizing: border-box;
            min-width: 260px;
            width: 260px;
            border: 1px solid rgba(var(--lightGrey), 1);
            border-radius: var(--imageBorderRadius);
            overflow: hidden;

            h3 {
              display: flex;
              align-items: center;
              align-content: center;
              justify-content: space-between;
              margin: 0;
              font-family: source-sans-pro-medium;
              padding: 20px;
              color: #fff;
              background-color: rgba(var(--accountLightBlue), 1);
              font-size: 1.92rem;
            }

            ul {
              list-style-type: none;

              li {
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                white-space: normal;
                width: 100%;
                font-size: 1.6rem;
                line-height: 22.4px;
                margin: 0;
                cursor: pointer;
                transition: all 0.2s liner;

                &:hover {
                  background: rgba(0, 0, 0, 0.08);
                }

                a {
                  color: #000;
                  width: 100%;
                  height: 100%;
                  padding: 10px 20px;
                  display: inline-flex;
                  align-items: center;
                  box-sizing: border-box;
                }

                span {
                  color: #000;
                  display: inline-flex;
                  align-items: center;
                  font-size: 1.28rem;
                  font-weight: 300;
                  font-family: "Roboto Mono", monospace;
                  padding: 0 10px;
                  border-radius: 8px;
                  margin-right: 20px;
                  white-space: nowrap;
                  background: rgba(0, 0, 0, 0.08);

                  &hover {
                  }
                }
              }

              li.selected {
                background: rgba(0, 0, 0, 0.08);
                font-family: source-sans-pro-medium;

                span {
                  background-color: #fff;
                  color: #000;
                }
              }
            }
          }

          .search_tip {
            margin-top: 20px;
            color: #666;
            font-size: 1.6rem;
            width: 260px;

            span {
              position: relative;
              top: 6px;
              left: 0;
              padding-right: 5px;
              font-size: 2.24rem;
            }
          }

          section.content {
            width: 100%;
            display: block;
            padding: 0;

            .column_content {
              padding-left: 30px;
              width: 100%;

              h2 {
                font-size: 2.4rem;
                margin: 0 0 4px;
                width: 100%;
                font-family: source-sans-pro-bold;
              }

              p {
                margin-top: 10px;
                padding: 0;
                font-size: 1.6rem;
                width: 100%;
              }

              .k-form {
                margin-top: 10px;
                width: 100%;
                font-size: 1.6rem;
                line-height: 1.5;

                fieldset {
                  margin-top: 30px;
                  border: 0;

                  .k-form-field {
                    margin-top: 16px;
                    display: block;
                    font-size: 1.6rem;
                    line-height: 1.5;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;

                    span {
                      font-size: 1.6rem;
                      line-height: 1.5;
                    }

                    input {
                      width: 100%;
                      display: flex;
                      padding: 6px 12px;
                      border-radius: 4px;
                      border-width: 1px;
                      border-style: solid;
                      outline: none;
                      line-height: 1.5;
                      flex-flow: row nowrap;
                      align-items: center;
                      vertical-align: middle;
                      position: relative;
                      -webkit-appearance: none;
                      border-color: #ced4da;

                      &:focus-within {
                        border-color: rgba(var(--accountLightBlue), 1);
                      }
                    }
                  }
                }

                p {
                  margin-top: 30px;
                  font-size: 1.6rem;
                }

                .flex {
                  margin-top: 30px;
                  display: flex;
                  align-items: center;
                  font-size: 1.6rem;
                  line-height: 1.5;

                  input {
                    border-color: rgba(var(--accountLightBlue), 1);
                    color: #fff;
                    background-color: rgba(var(--accountLightBlue), 1);
                    font-family: source-sans-pro-bold;
                    -webkit-appearance: button;
                    cursor: pointer;
                    border: 0;
                    font-size: 1.6rem;
                    line-height: 1.5;
                    border-radius: var(--imageBorderRadius);
                    padding: 6px 19.2px;
                    transition:
                      color 0.2s ease-in-out,
                      background-color 0.2s ease-in-out,
                      border-color 0.2s ease-in-out,
                      box-shadow 0.2s ease-in-out;
                  }

                  .reset {
                    margin: 0;
                    margin-left: 10px;

                    a {
                      color: rgba(var(--tmdbLightBlue), 1);
                    }
                  }
                }
              }
            }
          }
        }

        .search_content {
          padding-right: 0;
          padding-left: 30px;
          background-color: #fff;
          width: calc(100vw - 80px - 268px);
          max-width: calc(var(--maxPrimaryPageWidth) - 80px - 268px);
          display: flex;
          flex-wrap: wrap;
          flex: 0 1 auto;
          box-sizing: border-box;

          .data_search {
            border-top: none;
            padding-top: 0;
            width: 100%;
            display: block;
            padding: 30px 0;

            &:last-of-type {
              padding-bottom: 0;
            }

            &:last-of-type {
              border-top: none;
              padding-top: 0;
            }

            .results {
              display: flex;
              align-content: flex-start;
              justify-content: flex-start;
              flex-wrap: wrap;
              box-sizing: border-box;
              gap:20px;

              .wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: calc(100vw - 82px);

                .image {
                  min-width: 94px;
                  width: 94px;
                  height: 141px;
                  box-sizing: border-box;

                  .poster {
                    width: 100%;
                    height: 100%;

                    a {
                      display: block;
                      width: 100%;
                      height: 100%;
                      color: #000;

                      img {
                        min-width: 100%;
                        width: 100%;
                        height: 100%;
                        display: block;
                        outline: none;
                        border: 0;
                      }
                    }
                  }
                }

                .details {
                  width: 100%;
                  padding: 10px 15px;
                  box-sizing: border-box;
                  display: flex;
                  flex-wrap: wrap;
                  align-content: center;
                  align-items: center;

                  .wrapper {
                    display: flex;
                    align-items: center;
                    width: 100%;

                    .title {
                      width: 100%;
                      display: flex;
                      flex-wrap: wrap;
                      align-items: baseline;
                      overflow: hidden;

                      div {
                        line-height: 100%;

                        a {
                          color: #000;
                          background: 0 0;
                          text-decoration: none;
                          font-weight: 400;

                          h2 {
                            font-size: 1.92rem;
                            line-height: 19.2px;
                            margin-bottom: 0;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            text-overflow: ellipsis;
                            overflow: hidden;
                          }
                        }
                      }

                      .release_date {
                        width: 100%;
                        white-space: nowrap;
                        color: #999;
                        font-size: 1.6rem;
                      }
                    }
                  }

                  .overview {
                    height: auto;
                    margin-top: 20px;

                    p {
                      font-size: 1.6rem;
                      display: -webkit-box;
                      -webkit-line-clamp: 2;
                      -webkit-box-orient: vertical;
                      text-overflow: ellipsis;
                      overflow: hidden;
                      margin: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &:first-of-type {
      margin-top: 20px;
    }

    &:last-of-type {
      margin-bottom: 20px;
    }
  }
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(var(--lightGrey), 1);
  background-color: #fff;
}

div.card.v4.tight:first-of-type {
  margin-top: 0;
}

div.card.v4.tight {
  flex-wrap: wrap;
}

div.card.v4 {
  width: 100%;
  display: flex;
  border-radius: var(--imageBorderRadius);
  overflow: hidden;
}

div.wrapper div.settings_panel.no_margin {
  margin: 0;
}

div.wrapper ul.panel.no_scroll {
  overflow: visible;
  flex-wrap: wrap;
}

div.wrapper ul.panel {
  box-sizing: border-box;
  padding: 8px 0;
}
