header ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.navbar,
.content {
  display: flex;
  width: 100%;
  justify-content: center;
}

.navbar {
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(var(--tmdbDrakBlue), 1);
  height: 64px;
  color: #fff;
  transition: top 0.2s linear;

  a {
    color: #fff;
    font-weight: 600;
  }

  .content {
    .sub_media {
      display: flex;
      width: 100%;
      justify-content: space-between;
      position: relative;
      top: 0;
      left: 0;
      max-width: var(--maxPrimaryPageWidth);
      // max-width: 1400px;
      padding: 0 40px;

      .nav_wrapper {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: center;
        overflow: visible;
        .logo {
          display: block;
          margin-right: 16px;
          width: 154px;
          height: 20px;
        }

        .dropdown_menu {
          display: flex;
          justify-content: center;
          align-items: center;
          list-style-type: none;

          .dropdown_item {
            margin-right: 14px;

            .dropdonw_link {
              font-family: source-sans-pro-medium;
              text-decoration: none;
              padding: 8px;
              font-size: 1.6rem;
            }
          }
        }
      }

      .flex {
        justify-content: flex-end;

        .primary {
          list-style: none;
          text-decoration: none;
          font-family: source-sans-pro-medium;

          .new_buttons {
            display: flex;
            align-items: center;
            justify-content: center;

            .new_icon {
              height: 100%;
              width: 100%;
              display: inline-flex;
              align-items: center;
              justify-content: center;

              .glyphyicon {
                background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-371-plus-white-0bac34f16124808a12ea863b4d9cc6e599dee7c0a80658cfe9ead26939e64517.svg");
                background-color: transparent;
                width: 22.4px;
                height: 22.4px;
              }
            }
          }
        }

        .translate {
          display: flex;
          align-items: center;
          justify-content: center;

          div {
            text-align: center;
            width: 28px;
            height: 26px;
            align-content: center;
            border: 1px solid #fff;
            border-radius: 3px;
            padding: 3px 5px;
            transition: linear 0.1s;
            color: #fff;
            font-weight: 400;
            font-size: 14.4px;

            &:hover {
              cursor: pointer;
              color: rgba(var(--tmdbDrakBlue), 1);
              background-color: #fff;
            }
          }
        }

        .search {
          height: 100%;
          width: 100%;
          display: inline-flex;
          align-items: center;
          justify-content: center;

          .searchIcon {
            background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-28-search-blue-177462d06db81ff2a02aa022c1c0be5ba4200d7bd3f51091ed9298980e3a26a1.svg");
            background-color: transparent;
            width: 29.11px;
            height: 29.11px;
          }
        }

        .primary li a {
          text-decoration: none;
        }

        .primary li {
          display: flex;
          align-items: center;
          font-size: 1.6rem;
        }

        .primary li:not(:first-child) {
          margin-left: 30px;
        }
      }
    }
  }
}

.sub_dropdown {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
  font-size: 1.6rem;
  line-height: 1.5;
  border-radius: 4px;
  background-color: #fff;
  font-stretch: 100%;
  font-family: source-sans-pro-regular;
  color: #000;
  max-height: 249.4px;
  padding: 8px 0;
  border: 1px solid rgba(0, 0, 0, 0.15);

  .sub_dropdown-item {
    list-style-type: none;
    height: 30px;

    .sub_dropdown-link {
      text-decoration: none;
      padding: 3px 64px 3px 24px;
      color: #212529;
      font-weight: 400;
    }
  }
}

div[data-tippy-root] {
  max-width: 191.6px;
  height: 137.6px;
  box-sizing: content-box;
}
