@font-face {
  font-family: inter-Bold;
  src: url("./components/assets/fonts/Inter-Bold-c63158babcb7902203ed73476ccf901db34825ea524d4a36a52b5e5f97e1abf7.woff2");
  font-stretch: normal;
}

@font-face {
  font-family: roboto-mono;
  src: url("./components/assets/fonts/roboto-mono-v12-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-600-fd4492194b9770dabe2fd50e7057345e4a91f7e4498e8895d7963ccf621ffec5.woff2");
  font-stretch: normal;
}

@font-face {
  font-family: source-sans-pro-cryillic;
  src: url("./components/assets/fonts/source-sans-pro-v14-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300-db9f15a13a9f8b8bc46db7756ab863e8834bd20a7a1124c4c0a5a8f7892f3e99.woff2");
  font-stretch: normal;
}

@font-face {
  font-family: source-sans-pro-medium;
  src: url("./components/assets/fonts/source-sans-pro-v14-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600-6a087a74d78fc7d7b97fa1b0911c4ff3be4ff0bd5144618fd7ddc63ef1777f3a.woff2");
  font-stretch: normal;
}

@font-face {
  font-family: source-sans-pro-bold;
  src: url("./components/assets/fonts/source-sans-pro-v14-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700-d67f7dff97d105f4ac5616b00fc7822ce2c33f653ece2f547995e6a71bb7b993.woff2");
  font-stretch: normal;
}

@font-face {
  font-family: source-sans-pro-italic;
  src: url("./components/assets/fonts/source-sans-pro-v14-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-italic-48273a74acbc1611b6ef1d0a771bb8ef042b9922b51d5bff560571dddcb5542a.woff2");
  font-stretch: normal;
}

@font-face {
  font-family: source-sans-pro-regular;
  src: url("./components/assets/fonts/source-sans-pro-v14-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular-f38472b9e378b8c936f55a92677f575ab69e414d7cc3706ecfefeacd994b7975.woff2");
  font-stretch: normal;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
