.container {
  display: flex;
  position: absolute;
  width: 100%;
  top: 64px;
  left: 0;
  border: 1px solid rgba(var(--lightGrey), 1);

  .search {
    width: 100%;
    background-color: #fff;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    .sub_media {
      display: flex;
      padding: 0 40px;
      width: 100%;
      max-width: var(--maxPrimaryPageWidth);

      .search_form {
        display: block;
        width: 100%;

        .search_input {
          display: flex;
          width: 100%;
          border: 0;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-28-search-3992eb97b2b749f09793f9653407c499aa896d99535cb35cc66682d26a49df13.svg");
          background-position: left center;
          background-size: 20px;
          background-repeat: no-repeat;
          margin: 0;

          .input {
            width: 100%;
            height: 44px;
            bottom: 0;
            border: none;
            outline: 0;
            font-family: Arial, sans-serif;
            font-style: italic;
            font-size: 1.6rem;
            color: rgba(172,172,172);
            text-indent: 0;
            padding: 6px 10px 6px 0;
            line-height: 24px;
            margin-left: 30px;
          }

          .close_icon {
            width: 16px;
            height: 16px;
            font-size: 1.6rem;
            cursor: pointer;
            font-weight: 400;

            &::before {
              content: "\00d7";
              font-size: 1.6rem;
              color: #acacac;
              display: flex;
              align-items: center;
              justify-content: center;
              transform: scale(1.5);
            }
          }

          .loading {
            width: 28px;
            height: 36px;
            outline: 0;
            font-size: 16px;
            font-family: WebComponentsIcons;
            font-style: normal;
            font-variant: normal;
            font-weight: 400;
            line-height: 1;
            speak: none;
            text-transform: none;
            text-decoration: none;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;
            vertical-align: middle;
            position: relative;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            background-color: transparent;
            box-sizing: border-box;
            color: currentColor;

            &::before {
              content: "";
              margin-left: -8px;
              margin-top: -8px;
              width: 1em;
              height: 1em;
              -webkit-animation: k-loading-animation 0.7s linear infinite;
              animation: k-loading-animation 0.7s linear infinite;
              position: absolute;
              top: 50%;
              left: 50%;
              display: inline-block;
              box-sizing: inherit;
              border-radius: 50%;
              border-style: solid;
              border-color: transparent rgb(73, 80, 87);
              background-color: transparent;
              border-width: 1px;
            }

            &::after {
              content: "";
              border-width: 0.05em;
              margin-top: -0.25em;
              margin-left: -0.25em;
              width: 0.5em;
              height: 0.5em;
              animation: k-loading-animation reverse 1.4s linear infinite;
              position: absolute;
              top: 50%;
              left: 50%;
              display: inline-block;
              box-sizing: inherit;
              border-radius: 50%;
              border-style: solid;
              border-color: transparent rgb(73, 80, 87);
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

.search_trending {
  position: absolute;
  overflow: hidden;
  z-index: 10002;
  top: 108.8px;
  box-sizing: content-box;
  display: block;
  overflow: visible;
  width: 100%;
  padding: 0;
  font-size: 1.8rem;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  border-top: 1px solid rgba(var(--lightGrey), 1);
  border-bottom: 1px solid rgba(var(--lightGrey), 1);
  border-radius: 0;

  .search_trending_container {
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    min-width: 1220px;
    white-space: normal;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: static;
    font-size: 1.8rem;
    padding: 0;
    color: #212529;
    display: flex;
    flex-direction: column;
    -ms-flex-align: stretch;
    align-items: stretch;
    outline: 0;
    text-decoration: none;
    list-style: none;
    min-height: 24px;

    .search_trending_template {
      width: 100%;
      height: auto;
      min-height: 0;
      background: rgba(var(--lightGrey), 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid rgba(var(--lightGrey), 1);
      box-sizing: border-box;
      font-weight: 400;
      line-height: 24px;
      white-space: normal;
      flex-flow: column;

      .wrapper {
        width: 100%;
        max-width: var(--maxPrimaryPageWidth);
        align-items: flex-start;
        padding: 0 40px;
        box-sizing: border-box;

        h2 {
          display: flex;
          align-items: center;
          align-content: center;
          font-size: 1.2em;
          font-family: source-sans-pro-bold;
          margin: 0;
          padding: 10px 0;
          text-align: left;

          span {
            margin-right: 6px;
          }
        }
      }
    }

    .search_trending_list {
      width: 100%;
      height: auto;
      overflow: auto;
      position: relative;
      box-sizing: border-box;
      min-height: 24px;
      max-height: 298px;
      overflow: hidden;

      ul {
        display: inline-block;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border-width: 0;
        outline: 0;
        text-decoration: none;
        font: inherit;
        list-style: none;

        li {
          min-height: 0;
          line-height: normal;
          font-size: 1.6rem;
          margin-top: 0;
          margin-bottom: 0;
          padding: 0;
          border-radius: 0;
          border: 0;
          white-space: normal;
          transition-property: color, background-color, outline-color, box-shadow;
          transition-duration: 0.2s;
          transition-timing-function: ease;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-line-pack: center;
          align-content: center;
          cursor: pointer;
          outline: 0;

          &:hover {
            color: #16181b;
            background-color: #f8f9fa;
          }

          .search_trending_results {
            padding: 4px 0 5px;
            width: 100%;
            display: flex;
            justify-content: center;
            border-bottom: 1px solid rgba(var(--lightGrey), 1);

            .wrapper {
              max-width: var(--maxPrimaryPageWidth);
              width: 100%;
              display: flex;
              align-items: center;
              font-size: 0.9em;
              font-weight: 400;
              padding: 0 40px;

              div {
                margin-right: 6px;
                background-image: url("../../assets/svgs/search_icon.svg");
              }

              p {
                font-family: source-sans-pro-medium;
                margin: 0;
                padding: 0;
                line-height: normal;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: none;
                font-size: 1.6rem;

                span {
                  font-family: source-sans-pro-regular;
                }
              }
            }
          }
        }

        .no_data {
          margin: 24px 0;
          width: 100%;
          height: auto;
          min-height: 0;
          color: rgba(33, 37, 41, 0.5);
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          font-weight: lighter;
          white-space: normal;
          line-height: 24px;
          font-size: 1.6rem;
          font-family: source-sans-pro-bold;
          height: 44px;

          .no_result {
            background: #fff;
            border: 0;
            width: 100%;
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}

@keyframes k-loading-animation {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
